{%  extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Contacts</h3>
                {% for contact in contacts %}
                <ul>
                    <li>{{ contact }}</li>
                </ul>
                {% endfor %}
            </div>
            <div class="col-6">
                {{ form_start(form) }}
                    {{ form_widget(form.Name,
                        {'attr': {'class': 'form-control', 'placeholder' : 'Your name'}}) }}
                    {{ form_widget(form.Email,
                        {'attr': {'class': 'form-control', 'placeholder' : 'Your e-mail'}}) }}
                    {{ form_widget(form.Text,
                        {'attr': {'class': 'form-control', 'cols': 30, 'rows': 5, 'placeholder' : 'Text your wishes'}}) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(form) }}
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}